==
<form
    data-request="onRegister">
    <div class="form-group">
        <label for="registerName">{{'Vollständiger Name'|_}}</label>
        <input
            name="name"
            type="text"
            class="form-control"
            id="registerName"
            placeholder="{{'Gebe Deinen vollständigen Namen ein'|_}}" />
    </div>

    <div class="form-group">
        <label for="registerEmail">{{'E-Mail'|_}}</label>
        <input
            name="email"
            type="email"
            class="form-control"
            id="registerEmail"
            placeholder="{{'Gebe Deine E-Mail-Adresse ein'|_}}" />
    </div>

    <div class="form-group">
        <label for="registerPassword">{{'Passwort'|_}}</label>
        <input
            name="password"
            type="password"
            class="form-control"
            id="registerPassword"
            placeholder="{{'Wähle ein Passwort'|_}}" />
    </div>

    <button type="submit" class="btn btn-primary">{{'Registrieren'|_}}</button>
</form>