==
<div id="contact" data-target="#contact" class="p-b-3">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="text-xs-center">{{'Kontakt'|_}}</h1>
            </div>
            <div class="col-xs-12 text-xs-center p-b-3">
                <p>Haben wir Dein Interesse geweckt?</p>
                <a href="mailto:info@jumplink.eu" type="button" class="btn btn-info text-xs-center">{{'Kontakt Aufnehmen'|_}}</a>
            </div>
        </div>
    </div>
</div>