==
<div id="contact" data-target="#contact">
    <div class="container p-t-3">
        <div class="row">
            <div class="col-xs-12 text-xs-center">
                <h1>{{'Kontakt'|_}}</h1>
            </div>
            <div class="col-xs-12 text-xs-center p-y-3">
                <p>{{'Haben wir Dein Interesse geweckt?'|_}}</p>
                <a href="mailto:info@jumplink.eu" type="button" class="btn btn-danger text-xs-center">{{'Kontakt aufnehmen'|_}}</a>
            </div>
        </div>
    </div>
</div>