[viewBag]
==
<div itemscope itemtype="http://schema.org/CreativeWork" id="{{handle}}_carousel" class="img-thumbnail">
    {% for i in 1..5 %}
        <a href="{{url}}" target="_blank" title="{{title}}" class="slick-slide">
          <img itemprop="image" src="{{ 'assets/images/credentials/lg' | theme }}/{{handle}}_1200x600x150_00{{i}}.png" class="img-fluid center-block hidden-sm-down" alt="{{title}}">
          <img itemprop="image" src="{{ 'assets/images/credentials/sm' | theme }}/{{handle}}_nexus5_fullscreen_00{{i}}.png" class="img-fluid center-block hidden-md-up" alt="{{title}}">
          <h2 class="hidden-xs-up">{{title}}</h2>
          
          {% if i == 1 %}
            <meta itemprop="position" content="{{position}}" />
            <meta itemprop="mainEntityOfPage" content="{{url}}" />
            <meta itemprop="image" content="{{ 'assets/images/credentials/sm' | theme }}/{{handle}}_nexus5_fullscreen_001.png" />
            <meta itemprop="name" content="{{title}}" />
          {% endif %}
                  
        </a>
    {% endfor %}
</div>