[viewBag]
==
<div id="credentials" data-target="#credentials">
  <div class="container p-z-3">
    <div class="row">
      <div class="col-xs-12 text-xs-center">
        <h1 class="m-b-3">{{'Projekte'|_}}</h1>
        <p>{% content 'credentials/introduction.md' %}</p>
      </div>
      <div id="credentials_carousel" class="col-xs-12 p-b-1">
        <div class="slick-slide">
          {% partial 'credentials_grid_item' handle='feinfineart' title='feinfineart' url='https://www.feinfineart.de/'%}
        </div>
        <div class="slick-slide">
          {% partial 'credentials_grid_item' handle='jewelberry' title='jewelberry' url='https://jewelberry.de'%}
        </div>
        <div class="slick-slide">
          {% partial 'credentials_grid_item' handle='chou-chou-berlin' title='Chou Chou Berlin' url='https://chouchouberlin.com/'%}
        </div>
        <div class="slick-slide">
          {% partial 'credentials_grid_item' handle='breb' title='BREB GmbH & Co.' url='https://breb.de/'%}
        </div>
      </div>
    </div>
  </div>
</div>
{% put scripts %}
    <script type="text/javascript" src="{{ 'assets/javascript/partials/credentials_carousel.js' |theme }}"></script>
{% endput %}