==
<div itemscope itemtype="http://schema.org/CreativeWork" id="{{handle}}_carousel" class="img-thumbnail">
    {% for i in 1..5 %}
        <a itemprop="url" href="{{url}}" target="_blank" title="{{title}}" class="slick-slide">
          <img itemprop="image" src="{{ 'assets/images/credentials/lg' | theme }}/{{handle}}_00{{i}}.png" class="img-fluid center-block hidden-sm-down" alt="{{title}}">
          <img itemprop="image" src="{{ 'assets/images/credentials/sm' | theme }}/{{handle}}_00{{i}}.png" class="img-fluid center-block hidden-md-up" alt="{{title}}">
          <h2 itemprop="name" class="hidden-xs-up">{{title}}</h2>
        </a>
    {% endfor %}
</div>