[viewBag]
==
<div id="development" data-target="#development" class="p-b-2">
    <div class="container p-t-3">
        <div class="row">
            <div class="col-xs-12 text-xs-center">
                <h1 class="m-b-3">{{'Entwicklung'|_}}</h1>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-4">
                <div itemscope itemtype="http://schema.org/Offer" class="card card-outline-primary text-xs-center z-depth-1">
                    <div class="card-block">
                        <h2 itemprop="name" class="card-title">{{'Web'|_}}</h2>
                        <img class="img-fluid center-block m-y-1" src="{{'/assets/images/logos/october.svg' | theme}}" alt="OctoberCMS Logo">
                        <span itemprop="description" class="card-text">{% content 'development/web.md' %}</span>
                    </div>
                    <div class="card-footer hidden-xs-up">
                        <a href="#" class="btn btn-info" data-toggle="modal" data-target="#webModal">Mehr erfahren</a>
                    </div>
                </div>
            </div>
            <div itemscope itemtype="http://schema.org/Offer" class="col-xs-12 col-md-6 col-lg-4">
                <div class="card card-outline-primary text-xs-center z-depth-1">
                    <div class="card-block">
                        <h2 itemprop="name" class="card-title">{{'App'|_}}</h2>
                        <img class="img-fluid center-block m-y-1" src="{{'/assets/images/logos/angular.svg' | theme}}" alt="Angular Logo">
                        <span itemprop="description" class="card-text">{% content 'development/app.md' %}</span>
                        
                    </div>
                    <div class="card-footer hidden-xs-up">
                        <a href="#" class="btn btn-info" data-toggle="modal" data-target="#appModal">Mehr erfahren</a>
                    </div>
                </div>
            </div>
            <div itemscope itemtype="http://schema.org/Offer" class="col-xs-12 col-md-12 col-lg-4">
                <div class="card card-outline-primary text-xs-center z-depth-1">
                    <div class="card-block">
                        <h2 itemprop="name" class="card-title">{{'Shop'|_}}</h2>
                        <img class="img-fluid center-block m-y-1" src="{{'/assets/images/logos/shopify.svg' | theme}}" alt="Shopify Logo">
                        <span itemprop="description" class="card-text">{% content 'development/shop.md' %}</span>
                    </div>
                    <div class="card-footer hidden-xs-up">
                        <a href="#" class="btn btn-danger" data-toggle="modal" data-target="#shopModal">Mehr erfahren</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="webModal" tabindex="-1" role="dialog" aria-labelledby="webModalLabel" aria-hidden="true">
  <div class="modal-dialog z-depth-3 modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <button type="button" class="btn btn-danger pull-right" data-dismiss="modal">Close</button>
        <h4 class="modal-title" id="webModalLabel">{{'Web-Entwicklung'|_}}</h4>
      </div>
      <div class="modal-body">
        {% content 'development/web_more.md' %}
      </div>
      <div class="modal-footer bg-primary">
        
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="appModal" tabindex="-1" role="dialog" aria-labelledby="appModalLabel" aria-hidden="true">
  <div class="modal-dialog z-depth-3 modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <button type="button" class="btn btn-danger pull-right" data-dismiss="modal">Close</button>
        <h4 class="modal-title" id="appModalLabel">{{'App-Entwicklung'|_}}</h4>
      </div>
      <div class="modal-body">
        {% content 'development/app_more.md' %}
      </div>
      <div class="modal-footer bg-primary">
        
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="shopModal" tabindex="-1" role="dialog" aria-labelledby="shopModalLabel" aria-hidden="true">
  <div class="modal-dialog z-depth-3 modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <button type="button" class="btn btn-danger pull-right" data-dismiss="modal">Close</button>
        <h4 class="modal-title" id="shopModalLabel">{{'Shop-Entwicklung'|_}}</h4>
      </div>
      <div class="modal-body">
        {% content 'development/shop_more.md' %}
      </div>
      <div class="modal-footer bg-primary">
        
      </div>
    </div>
  </div>
</div>

{% put scripts %}
    <script type="text/javascript" src="{{ 'assets/javascript/partials/development.js' |theme }}"></script>
{% endput %}