[viewBag]
==
<div id="development" data-target="#development" class="p-b-2">
    <div class="container p-t-3">
        <div class="row">
            <div class="col-xs-12 text-xs-center">
                <h2 class="m-b-3">{{'Entwicklung'|_}}</h2>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-4">
                <div itemscope itemtype="http://schema.org/Service" class="card card-outline-primary text-xs-center z-depth-1">
                    <div class="card-block">
                        <h3 class="card-title">
                            {{'Web'|_}}
                            <br>
                            <small itemprop="name">{{'Webdesign'|_}}</small>
                        </h3>
                        <img class="img-fluid center-block m-y-1" src="{{'/assets/images/logos/october.svg' | theme}}" alt="OctoberCMS Logo">
                        <span itemprop="description" class="card-text">{% content 'development/web.md' %}</span>
                    </div>
                    <div class="card-footer p-b-1">
                        <a href="/blog/post/webdesign-cuxhaven-beste-agentur" class="btn btn-info">Mehr erfahren</a>
                    </div>
                </div>
            </div>
            <div itemscope itemtype="http://schema.org/Service" class="col-xs-12 col-md-6 col-lg-4">
                <div class="card card-outline-primary text-xs-center z-depth-1">
                    <div class="card-block">
                        <h3 class="card-title">
                            {{'App'|_}}
                            <br>
                            <small itemprop="name">{{'App-Entwicklung'|_}}</small>
                        </h3>
                        <img class="img-fluid center-block m-y-1" src="{{'/assets/images/logos/angular.svg' | theme}}" alt="Angular Logo">
                        <span itemprop="description" class="card-text">{% content 'development/app.md' %}</span>
                        
                    </div>
                    <div class="card-footer p-b-1">
                        <a href="/blog/post/softwareentwicklung-in-cuxhaven-hinter-den-kulissen" class="btn btn-info">Mehr erfahren</a>
                    </div>
                </div>
            </div>
            <div itemscope itemtype="http://schema.org/Service" class="col-xs-12 col-md-12 col-lg-4">
                <div class="card card-outline-primary text-xs-center z-depth-1">
                    <div class="card-block">
                        <h3 class="card-title">
                        {{'Shop'|_}}
                        <br>
                        <small itemprop="name">{{'Onlineshop-Entwicklung'|_}}</small>
                        </h3>
                        <img itemprop="image" class="img-fluid center-block m-y-1" src="{{'/assets/images/logos/shopify.svg' | theme}}" alt="Shopify Logo">
                        <span itemprop="description" class="card-text">{% content 'development/shop.md' %}</span>
                    </div>
                    <div class="card-footer p-b-1">
                        <a href="/blog/post/vorteile-shopify" class="btn btn-info">Mehr erfahren</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% put scripts %}
    <script type="text/javascript" src="{{ 'assets/javascript/partials/development.js' |theme }}"></script>
{% endput %}