==
<div id="development" data-target="#development" class="p-b-2">
    <div class="container p-t-3">
        <div class="row">
            <div class="col-xs-12 text-xs-center">
                <h1 class="m-b-3">{{'Entwicklung'|_}}</h1>
            </div>
            <div class="col-xs-12 hidden-md-down col-lg-3">
                <div class="card card-primary-outline text-xs-center">
                    <div class="card-block">
                        <h2 class="card-title">{{'Web'|_}}</h2>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    </div>
                    <div class="card-footer">
                        <a href="{{'app'|page}}" class="btn btn-info">Mehr erfahren</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-12 col-lg-6">
                <div class="card card-primary-outline text-xs-center">
                    <div class="card-block">
                        <h2 class="card-title">{{'Shop'|_}}</h2>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    </div>
                    <div class="card-footer">
                        <a href="{{'app'|page}}" class="btn btn-danger">Mehr erfahren</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 hidden-lg-up col-md-6 col-lg-3">
                <div class="card card-primary-outline text-xs-center">
                    <div class="card-block">
                        <h2 class="card-title">{{'Web'|_}}</h2>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    </div>
                    <div class="card-footer">
                        <a href="{{'app'|page}}" class="btn btn-info">Mehr erfahren</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-3">
                <div class="card card-primary-outline text-xs-center">
                    <div class="card-block">
                        <h2 class="card-title">{{'App'|_}}</h2>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        
                    </div>
                    <div class="card-footer">
                        <a href="{{'app'|page}}" class="btn btn-info">Mehr erfahren</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% put scripts %}
    <script type="text/javascript" src="{{ 'assets/javascript/partials/development.js' |theme }}"></script>
{% endput %}