[viewBag]
==
<div id="imprint" data-target="#imprint">
    <div class="container p-y-2">
        <div class="row">
            <div class="col-xs-12 text-xs-center">
                <h2>Impressum</h2>
            </div>
            <div class="col-xs-12 col-md-6 p-t-2">
                <dl class="row" itemscope itemtype="http://schema.org/Organization">
                    <dt class="col-xs-12"><p>Angaben gem. § 5 TMG</p></dt>
                    <dt class="col-xs-12">Betreiber und Kontakt</dt>
                    <dd itemprop="name" class="col-xs-12">Pascal Garber</dd>
                    <dd class="col-xs-12">Kasernenstraße 8</dd>
                    <dd class="col-xs-12">27472 Cuxhaven DE</dd>
                    <dt class="col-xs-12"><p> </p></dt>
                    <dt class="col-xs-5">Telefon</dt>
                    <dd class="col-xs-7"><a itemprop="telephone" href="tel:+4915254090189">+49 152 54 09 01 89</a></dd>
                    <dt class="col-xs-5">Fax</dt>
                    <dd class="col-xs-7"><a itemprop="faxNumber" href="fax:+494721664319">+49 4721­ 664319</a></dd>
                    <dt class="col-xs-5">E-Mail</dt>
                    <dd class="col-xs-7"><a itemprop="email" href="mailto:info@jumplink.eu">info@jumplink.eu</a></dd>
                    <dt class="col-xs-5">USt-IdNr.</dt>
                    <dd itemprob="vatID" class="col-xs-7">DE277453808</dd>
                    <dt class="col-xs-12"><p> </p></dt>
                    <dt class="col-xs-12">Verantwortliche/r i.S.d. § 55 Abs. 2 RStV</dt>
                    <dd class="col-xs-12">Pascal Garber, Bei der Kirche 12, 27476 Cuxhaven</dd>
                </dl>
            </div>
            <div class="col-xs-12 col-md-6 p-t-2">
                <dl class="row">
                    <dt class="col-xs-12">JumpLink</dt>
                    <dd class="col-xs-12">
                        <p>JumpLink ist ein Netzwerk aus selbstständigen Designern und Programmierern.</p>
                    </dd>
                    <dt class="col-xs-12">Datenschutz</dt>
                    <dd class="col-xs-12">Die Datenschutzerklärung findest Du unter <a href="{{ 'privacy-policy'|page }}">{{ 'privacy-policy'|page }}</a></dd>
                    <dt class="col-xs-12"><p> </p></dt>
                    <dt class="col-xs-12">Online-Streitbeilegung gemäß Art. 14 Abs. 1 ODR-VO</dt>
                    <dd class="col-xs-12">Die Europäische Kommission stellt eine Plattform zur Online-Streitbeilegung (OS) bereit: <a href='https://ec.europa.eu/consumers/odr/'>https://ec.europa.eu/consumers/odr/</a>.</dd>
                    <dd class="col-xs-12">Wir sind zur Teilnahme an einem Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle weder verpflichtet noch bereit.</dd>
                    
                </dl>
            </div>
        </div>
        <div class="row">
            
            <div class="col-xs-12 col-md-6 p-t-2">
                <div style="display:block; background-color:#FBFBFB; color:#292929; border: 1px solid gray; padding:15px;">
                    <img style="float:left;margin-right:1.5rem; width:90px;" src="https://www.it-recht-kanzlei.de/gfx/Logos/logo-fairness-160.png">
                    <p style="padding-top:28px;">
                        Mitglied der Initiative &quot;Fairness im Handel&quot;.<br />
                        Informationen zur Initiative: <a style="color:#ef7b00" href="http://www.fairness-im-handel.de" target="_blank">fairness-im-handel.de</a>
                    </p>
                    <div style="clear: both;"></div>
                </div>
            </div>
        </div>
    </div>
</div>