==
<div id="imprint" data-target="#imprint">
    <div class="container p-t-3">
        <div class="row">
            <div class="col-xs-12 text-xs-center">
                <h1>{{'Kontakt'|_}}</h1>
            </div>
            <div class="col-xs-12 text-xs-center p-y-3">
                <p>{{'Haben wir Dein Interesse geweckt?'|_}}</p>
                <a href="mailto:info@jumplink.eu" type="button" class="btn btn-danger text-xs-center">{{'Kontakt aufnehmen'|_}}</a>
            </div>
        </div>
    </div>
    {% partial 'location' %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-offset-6 col-md-6 col-lg-offset-8 col-lg-4">
                <dl itemscope itemtype="http://schema.org/Organization" class="text-truncate">
                    <dt class="col-xs-12"><h2>Impressum</h2></dt>
                    <dt class="col-xs-4">Name</dt>
                    <dd itemprop="name" class="col-xs-8">JumpLink</dd>
                    <dt class="col-xs-4">Telefon</dt>
                    <dd class="col-xs-8"><a itemprop="telephone" href="tel:+4915254090189">+49 152 54 09 01 89</a></dd>
                    <dt class="col-xs-4">Fax</dt>
                    <dd class="col-xs-8"><a itemprop="faxNumber" href="fax:+494721664319">+49 4721­ 664319</a></dd>
                    <dt class="col-xs-4">E-Mail</dt>
                    <dd class="col-xs-8"><a itemprop="email" href="mailto:info@jumplink.eu">info@jumplink.eu</a></dd>
                    <dt class="col-xs-4">USt-IdNr.</dt>
                    <dd itemprob="vatID" class="col-xs-8">DE277453808</dd>
                </dl>
            </div>
        </div>
    </div>
</div>