==
<div id="location" data-target="#location" class="p-b-2">
    
    <div class="card card-inverse card-primary text-xs-center col-sm-12 col-md-4 col-lg-3 col-xl-2">
      <div class="card-block">
        <address class="card-text">
            <strong>
                {{ this.theme.location_name_line_1 }}
                {% if this.theme.location_name_line_2 %}
                    <br>{{ this.theme.location_name_line_2 }}
                {% endif %}
            </strong>
            {% if this.theme.location_address_line_1 %}
                <br>{{ this.theme.location_address_line_1 }}
            {% endif %}
            {% if this.theme.location_address_line_2 %}
                <br>{{ this.theme.location_address_line_2 }}
            {% endif %}
        </address>
        <div class="card-footer">
            <a class="btn btn-primary" id="navigation_link" data-toggle="tooltip" data-placement="top" title="Routenplaner", target="_blank">
                <img src="{{ 'assets/images/symbols/route.svg' | theme }}" alt="Routenplaner">
            </a>
        </div>

      </div>
    </div>
    <div class="col-sm-12 col-md-8 col-lg-9 col-xl-10" id="map"></div>
</div>

{% put scripts %}
    <script type="text/javascript" src="{{ 'assets/javascript/partials/location.js' |theme }}"></script>
{% endput %}