[viewBag]
==
<div id="location" class="m-y-3">
    <div class="card card-inverse card-primary text-xs-center col-sm-12 col-md-4 col-lg-3 col-xl-2">
      <div class="card-block">
        <p class="card-text">
            <strong>{{ 'Anfahrt' | _ }}</strong>
        </p>
        <address itemscope itemtype="http://schema.org/ProfessionalService" class="card-text">
            <meta itemprop="additionalType" href="http://schema.org/LocalBusiness">
            <img itemprop="image" class="img-fluid center-block p-x-2 m-b-1 hidden-xs-up" src="https://jumplink.eu/themes/jumplink/assets/images/logos/logo_inverse.svg" alt="JumpLink network logo">
            {% if this.theme.location_name %}
                <span itemprop="name">{{ this.theme.location_name }}</span>
            {% endif %}
            {% if this.theme.location_description %}
                <br>
                <small itemprop="description">{{ this.theme.location_description |_ }}</small>
            {% endif %}
            <span class="hidden-xs-up">
                <br>Preisklasse <span itemprop="priceRange">€€€€</span>
            </span> 
            <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                {% if this.theme.location_street_address %}
                    <br>
                    <span itemprop="streetAddress">{{ this.theme.location_street_address }}</span>
                {% endif %}
                {% if this.theme.location_postal_code and this.theme.location_address_locality %}
                    <br>
                    <span itemprop="postalCode">{{ this.theme.location_postal_code }}</span>
                    <span itemprop="addressLocality">{{ this.theme.location_address_locality }}</span>
                {% endif %}
                {% if this.theme.location_address_region %}
                    <span itemprop="addressRegion">{{ this.theme.location_address_region }}</span>
                {% endif %}
            </span>
            <br>
            <br>
            <a itemprop="telephone" class="color-white" content="+4915254090189" href="tel:+4915254090189">+49 152 54 09 01 89</a>
            <br>
            <a itemprop="email" class="color-white" href="mailto:info@jumplink.eu">info@jumplink.eu</a>
            <div itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates">
                <meta itemprop="latitude" content="{{this.theme.location_latitude}}" />
                <meta itemprop="longitude" content="{{this.theme.location_longitude}}" />
            </div>
        </address>
        <div class="card-footer">
            <a class="btn btn-primary" id="navigation_link" data-toggle="tooltip" data-placement="top" title="{{'Anfahrt ermitteln'|_}}", target="_blank">
                <img src="{{ 'assets/images/symbols/route.svg' | theme }}" alt="{{'Anfahrt ermitteln'|_}}">
            </a>
        </div>

      </div>
    </div>
    <div class="col-sm-12 col-md-8 col-lg-9 col-xl-10" id="map"></div>
</div>

{% put scripts %}
    <script type="text/javascript" src="{{ 'assets/javascript/partials/location.js' |theme }}"></script>
{% endput %}