[viewBag]
==
<div id="network" data-target="#network" class="p-y-3">
    <div class="container p-t-3">
        <div class="row">
            <div class="col-xs-12 text-xs-center">
                <h2 class="m-b-2">
                    {{'Netzwerk'|_}}
                    <br><small>{{'Besondere Anforderungen benötigen besondere Fähigkeiten'|_}}</small>
                </h2>
                <p>{% content 'network/introduction.md' %}</p>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-4 p-t-2">
                {% partial 'network/person' handle='pascal' name='Pascal Garber' email='pascal@jumplink.me' %}
            </div>
            <div class="col-xs-12 col-md-6 col-lg-4 p-t-2">
                {% partial 'network/person' handle='maya' name='Maya Philine Henze' email='artwork@jumplink.me' %}
            </div>
            <div class="col-xs-12 col-md-6 col-lg-4 p-t-2">
                {% partial 'network/person' handle='marc' name='Marc Wensauer' email='marc@jumplink.me' %}
            </div>
              <div class="col-xs-12 col-md-6 col-lg-4 p-t-2">
                {% partial 'network/person' handle='moritz' name='Moritz Raguschat' email='moritz@jumplink.me' %}
            </div>
            <div class="col-xs-12 col-md-6 col-lg-4 p-t-2">
                {% partial 'network/person' handle='manu' name='Manuel Weinberg' email='manu@jumplink.me' %}
            </div>
            <div class="col-xs-12 col-md-6 col-lg-4 p-t-2">
                {% partial 'network/person' handle='patrick' name='Patrick König' email='patrick@jumplink.me' %}
            </div>
            <div class="col-xs-12 col-md-6 col-lg-4 p-t-2">
                {% partial 'network/person' handle='maria' name='Maria Hämmerling' email='maria@jumplink.me' %}
            </div>
            <div class="col-xs-12 col-md-6 col-lg-4 p-t-2">
                {% set you %}{{'Du?'|_}}{% endset %}
                {% partial 'network/person' handle='placeholder' name=you email=null %}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-xs-center">
                <h3 class="m-t-3 m-b-2">{{'Weitere Partner'|_}}</h3>
            </div>
        </div>
        <div class="row">
             <div class="col-xs-12 p-y-2">
                {% partial 'network/feinfineart' %}
            </div>
            <div class="col-xs-12 p-y-2">
                {% partial 'network/ceyhun' %}
            </div>
            <div class="col-xs-12 p-t-2">
                {% partial 'network/mediamor' %}
            </div>
        </div>
    </div>
</div>