[viewBag]
==
<div id="network" data-target="#network" class="p-y-3">
    <div class="container p-t-3">
        <div class="row">
            <div class="col-xs-12 text-xs-center">
                <h1 class="m-b-3">{{'Netzwerk'|_}}<br><small>{{'Besondere Anforderungen benötigen besondere Fähigkeiten'|_}}</small></h1>
                <p>{% content 'network/introduction.md' %}</p>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-4 p-b-2">
                {% partial 'network/pascal' %}
            </div>
            <div class="col-xs-12 col-md-6 col-lg-4 p-b-2">
                {% partial 'network/marc' %}
            </div>
            {#<div class="col-xs-12 col-md-6 col-lg-3 p-b-2">
                {% partial 'network/moritz' %}
            </div>#}
            <div class="col-xs-12 col-md-6 col-lg-4 p-b-2">
                {% partial 'network/you' %}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-xs-center">
                <h2 class="m-t-3 m-b-2">{{'Weitere Partner'|_}}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 p-y-2">
                {% partial 'network/ceyhun' %}
            </div>
            <div class="col-xs-12 p-y-2">
                {% partial 'network/mediamor' %}
            </div>
        </div>
    </div>
</div>