<div id="service" data-target="#service">
    <div class="bg-body p-y-3">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-4">
                    <div class="card card-primary-outline text-xs-center">
                        <div class="card-block">
                            <h4 class="card-title">Web-Entwicklung</h4>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="{{'web'|page}}" class="btn btn-primary">Mehr erfahren</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="card card-success-outline text-xs-center">
                        <div class="card-block">
                            <h4 class="card-title">App-Entwicklung</h4>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="{{'app'|page}}" class="btn btn-success">Mehr erfahren</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="card card-warning-outline text-xs-center">
                        <div class="card-block">
                            <h4 class="card-title">Onlineshop-Entwicklung</h4>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="{{'ecommerce'|page}}" class="btn btn-warning">Mehr erfahren</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

</div>