==
<div id="service" data-target="#service" class="p-b-3">
    <div class="container">
        {% partial 'services/responsive' %}
        {% partial 'services/seo' %}
        {% partial 'services/modern' %}
        {% partial 'services/multilingual' %}
        {% partial 'services/custom' %}
        {% partial 'services/api' %}
        {% partial 'services/erp' %}
        {% partial 'services/maintainable' %}
        <!-- {% partial 'services/crossplatform' %} -->
        <!-- {% partial 'services/backend' %} -->
        <!-- {% partial 'services/german_market' %} -->
        <!-- {% partial 'services/selfcode' %} -->
    </div>
</div>