==
<div id="service">
    <div class="container">
        <div class="row">
              {% partial 'services/api' %}
              {% partial 'services/crossplatform' %}
              {% partial 'services/custom' %}
              {% partial 'services/backend' %}
              {% partial 'services/erp' %}
              {% partial 'services/german_market' %}
              {% partial 'services/maintainable' %}
              {% partial 'services/modern' %}
              {% partial 'services/multilingual' %}
              {% partial 'services/responsive' %}
              {% partial 'services/selfcode' %}
              {% partial 'services/seo' %}
        </div>
    </div>
</div>