==
<div id="service" data-target="#service">
  <div class="container">
    <div class="row">
      <div class="hidden-md-up col-xs-12">
        <img class="center-block" src="{{ 'assets/images/symbols/swipe.svg' | theme }}" alt="{'Swipe to see the other services'|_}}">
      </div>
      <div id="services_carousel" class="col-xs-12 p-t-3">
        <div class="slick-slide">
          {% partial 'services/api' %}
        </div>
        <div class="slick-slide">
          {% partial 'services/crossplatform' %}
        </div>
        <div class="slick-slide">
          {% partial 'services/custom' %}
        </div>
        <div class="slick-slide">
          {% partial 'services/backend' %}
        </div>
        <div class="slick-slide">
          {% partial 'services/erp' %}
        </div>
        <div class="slick-slide">
          {% partial 'services/german_market' %}
        </div>
        <div class="slick-slide">
          {% partial 'services/maintainable' %}
        </div>
        <div class="slick-slide">
          {% partial 'services/modern' %}
        </div>
        <div class="slick-slide">
          {% partial 'services/multilingual' %}
        </div>
        <div class="slick-slide">
          {% partial 'services/responsive' %}
        </div>
        <div class="slick-slide">
          {% partial 'services/selfcode' %}
        </div>
        <div class="slick-slide">
          {% partial 'services/seo' %}
        </div>
      </div>
    </div>
  </div>
</div>
{% put scripts %}
    <script type="text/javascript" src="{{ 'assets/javascript/partials/services_carousel.js' |theme }}"></script>
{% endput %}