==
<div id="shops" class="p-b-2">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-xs-center">
                <h1 class="m-b-3">{{'Shop-Systeme'|_}}</h1>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="card card-warning-outline text-xs-center">
                    <div class="card-block">
                        <h2 class="card-title">{{'Magento'|_}}</h2>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    </div>
                    <img src="{{ 'assets/images/logos/magento.svg' | theme }}" alt="Magento">
                    <div class="card-block">
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="{{'web'|page}}" class="btn btn-warning">Mehr erfahren</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="card card-success-outline text-xs-center">
                    <div class="card-block">
                        <h2 class="card-title">{{'Shopify'|_}}</h2>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    </div>
                    <img src="{{ 'assets/images/logos/shopify.svg' | theme }}" alt="Shopify">
                    <div class="card-block">
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="{{'app'|page}}" class="btn btn-success">Mehr erfahren</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="card card-danger-outline text-xs-center">
                    <div class="card-block">
                        <h2 class="card-title">{{'October'|_}}</h2>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    </div>
                    <img src="{{ 'assets/images/logos/october.svg' | theme }}" alt="October CMS">
                    <div class="card-block">
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="{{'ecommerce'|page}}" class="btn btn-danger">Mehr erfahren</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>