[viewBag]
==
<div id="social-buttons" data-target="#social-buttons">
    <div class="container p-y-2">
        <div class="row">
            <div class="col-xs-12 text-xs-center">
            
                <div class="the-buttons">
                    {# RSS Feed Link #}
                    {# <a class='btn btn-sm btn-primary' href='https://jumplink.eu/blog/rss.xml' target='blank'>RSS Feed</a> #}
            
                    {# feedly #} 
                    <a href='https://cloud.feedly.com/#subscription/feed/https://jumplink.eu/blog/rss.xml' target='blank' title="Blog mit Feedly abonnieren">
                        <img id='feedlyFollow' src='{{'assets/images/feedly-follow-rectangle-flat-medium_2x.png' | theme}}' alt='follow us in feedly' width='71' height='28'>
                    </a>
                    
                    {# facebook #} 
                    <div class="fb-like" data-href="https://www.facebook.com/jumplink.eu/" data-layout="button" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
                
                </div>
            
            </div>
        </div>
    </div>
</div>