.navbar {

}

.navbar-toggler {
    line-height: $navbar-height;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-main {
    // z-index: 3000; // to make it over sidebar mask
    
    -webkit-transition: opacity 250ms ease-in-out;
    -moz-transition: opacity 250ms ease-in-out;
    -ms-transition: opacity 250ms ease-in-out;
    -o-transition: opacity 250ms ease-in-out;
    transition: opacity 250ms ease-in-out;
    opacity: 1;
    
    .navbar-brand {
        min-width: 40px;
        background-image: url(../images/logos/logo_inverse.svg);
        background-repeat: no-repeat;
        background-position: left center;
        background-size: auto 100%;
        padding-left: 50px;
        height: $navbar-height - 1rem;
        opacity: 1;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
    &.affix--blw {
        position: fixed;
        top: 0;
        @extend .navbar-fixed-top;
    }
    &.affix--abv {
       //@extend .navbar-static-top;
    }
    
    &.hidden {
        opacity: 0;
        //visibility: hidden;
    }
    
    // border-bottom: 2px solid $brand-danger;
}

.navbar-nav {
    .list-group-item {
        display: none;
    }
    .nav-item {
        border-bottom: 2px solid transparent;
        // margin-bottom: -2px;
        
        &.nav-item-divider {
            margin-left: 0.3rem;
            margin-right: -0.7rem;
        }
    }
  
    .nav-link {
        padding-top: 0;
        padding-bottom: 0;
        line-height: $navbar-height;
        border-bottom: 2px solid transparent;
        margin-bottom: -2px;
        &.active, &:active, &:hover, &:focus {
            border-bottom-color: #fff;
            &.nav-item-divider {
                border-bottom: 2px solid transparent;
            }
        }
    }
    
    &.bg-danger {
        color: white;
    }
}

.navbar-dark {
    .navbar-toggler {
        color: #fff;
    }
}

