#sidebar {
    display: none;
    .sidebar-wrapper {
        padding-top: $navbar-height;
        top: 0;
        position: relative;
        height: 100%;
        overflow: auto;
        // background-color: $brand-primary;
        .list-group-item {
            //@extend .bg-inverse;
            color: #fff;
            border: none;
            border-radius: 0;
            background-color: $brand-primary;
            .active {
                font-weight: bold;
            }
        }
        .sidebar-brand {
            padding-left: 1.25rem; // TODO get variable of left list-group-item padding
            padding-right: 1.25rem;
            max-width: 7rem;
            display: block;
        }
    }
}

.list-group-item-divider {
    display: inline-block;
}

.list-group {
    .nav-item {
        display: none;
    }
}

.list-group-item-locale {
    a {
        color: #fff;
    }
}