==
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="m-y-3 text-xs-center">{{'Entwicklung von Apps.'|_}}</h3>
        </div>
    </div>
</div>
<div class="cloud" data-type="white_4" style="top: 138px;" data-speed="1"></div>
<div class="cloud" data-type="white_2" style="top: 10px;" data-speed="2"></div>
<div class="cloud" data-type="white_1" style="top: 81px;" data-speed="3"></div>
<div class="cloud" data-type="white_1" style="top: 85px;" data-speed="4"></div>
<div class="cloud" data-type="white_5" style="top: 91px;" data-speed="5"></div>
<div class="cloud" data-type="white_4" style="top: -10px;" data-speed="6"></div>
<div class="cloud" data-type="white_6" style="top: 0;" data-speed="7"></div>
<div class="svg_apps_col">
    <div class="foreground"></div>
    <div class="foreground_finger"></div>
    <div class="framewrapper center-block">
        <div style="color: #f4696b" class="la-square-jelly-box center-block">
            <div></div>
            <div></div>
        </div>
        <iframe src="/apps/android"></iframe>
    </div>
</div>

{% put scripts %}
    <script type="text/javascript" src="{{ 'assets/javascript/header/app.js' |theme }}"></script>
{% endput %}