==
<header id="blog-header" class="bg-info background-vignette">
    <canvas id="dust" class="bg-info background-vignette"></canvas>
    <div id="subtext-container">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="text-xs-center jumplink-subtext">{{ headerText |_ }}</h1>
                </div>
            </div>
        </div>
    </div>
</header>

{% partial 'navigation' %}

{% put scripts %}
    <script type="text/javascript" src="{{ 'assets/javascript/partials/header/dust.js' | theme }}"></script>
{% endput %}