==
<header id="particles" class="bg-info p-b-3" data-target="#top">
    <div id="particles-subtext-container">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="text-xs-center jumplink-subtext">{{'Entwicklung erstklassiger und individueller Onlineshops'|_}}</h1>
                </div>
            </div>
        </div>
    </div>
</header>

{% put scripts %}
    <script type="text/javascript" src="{{ 'assets/javascript/partials/header/particles.js' |theme }}"></script>
{% endput %}