[viewBag]
==
{% set posts = __SELF__.posts %}

{% set postColumnClass = 'col-xs-12 col-lg-6' %}

<div class="row grid">
    
    {% for post in posts %}
        <div class="{{postColumnClass}} grid-item">
            <div class="card card-outline-primary">
        
                {% if post.featured_images.count %}
                    <a href="{{ post.url }}">
                        <img
                            data-src="{{ post.featured_images[0].filename }}"
                            src="{{ post.featured_images[0].path }}"
                            alt="{{ post.featured_images[0].description }}"
                            class="card-img-top img-fluid center-block"
                        />    
                    </a> 
                {% endif %}
                <div class="card-block">
                    <p class="card-text markdown">
                        <a href="{{ post.url }}">
                            <strong>{{ post.title }}</strong>
                        </a>
                    </p>
                    <p class="card-text markdown">{{ post.summary }}</p>
                </div>
                <div class="card-footer bg-primary">
                    {{ 'Erstellt'|_ }}
                    {% if post.categories.count %} in {% endif %}
                    {% for category in post.categories %}
                        <a href="{{ category.url |_ }}">{{ category.name }}</a>{% if not loop.last %}, {% endif %}
                    {% endfor %}
                    {{ 'am'|_ }} <a href="{{ post.url }}">{{ post.published_at|date('d M Y') }} {% if post.user %} {{'von'|_}} {{ post.user.first_name }} {{ post.user.last_name }}  {% endif %}</a>
                </div>
            </div>
        </div>
    {% else %}
         <div class="col-xs-12">
            {{ noPostsMessage }}
        </div>
    {% endfor %}
    <div class="{{postColumnClass}} grid-sizer"></div>
 </div>
 
{% if posts.lastPage > 1 %}
    <div class="col-xs-12">
        <ul class="pagination">
            {% if posts.currentPage > 1 %}
                <li><a href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage-1) }) }}">&larr; Prev</a></li>
            {% endif %}
    
            {% for page in 1..posts.lastPage %}
                <li class="{{ posts.currentPage == page ? 'active' : null }}">
                    <a href="{{ this.page.baseFileName|page({ (pageParam): page }) }}">{{ page }}</a>
                </li>
            {% endfor %}
    
            {% if posts.lastPage > posts.currentPage %}
                <li><a href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage+1) }) }}">Next &rarr;</a></li>
            {% endif %}
        </ul>
    </div>
{% endif %}

{% put scripts %}
	<script>
        $(function() {
            
            var $grid = $('.grid');
            $grid.masonry({
                // set itemSelector so .grid-sizer is not used in layout
                itemSelector: '.grid-item',
                // use element for option
                columnWidth: '.grid-sizer',
                percentPosition: true
            });
            
            // layout Masonry after each image loads
            $grid.imagesLoaded().progress( function(instance, image) {
                var $image = $(image.img);
                var $item = $image.closest('.grid-item');
                $item.addClass('loaded');
                $grid.masonry('layout');
            });
            
        });

	</script>
{% endput %}