[viewBag]
==
{% set posts = __SELF__.posts %}
 
<div class="row">
    {% for post in posts %}
        
        <div class="col-xs-12 col-lg-6">
            <div class="card card-outline-primary">
        
                {% if post.featured_images.count %}
                    <a href="{{ post.url }}">
                        <img
                            data-src="{{ post.featured_images[0].filename }}"
                            src="{{ post.featured_images[0].path }}"
                            alt="{{ post.featured_images[0].description }}"
                            class="card-img-top img-fluid center-block"
                        />    
                    </a>
                {% else %}
                    <a href="{{ post.url }}" class="card-header" onclick="window.open('{{ post.url }}', '_self', ''); return false;">
                        {{ post.title }}
                    </a>
                {% endif %}
                <div class="card-block">
                    {% if post.featured_images.count %}
                        <p class="card-text markdown">
                            <a href="{{ post.url }}">
                                <strong>{{ post.title }}</strong>
                            </a>
                        </p>
                    {% endif %}
                    <p class="card-text markdown">{{ post.summary }}</p>
                </div>
                <div class="card-footer bg-primary">
                    {{ 'Erstellt'|_ }}
                    {% if post.categories.count %} in {% endif %}
                    {% for category in post.categories %}
                        <a href="{{ category.url }}">{{ category.name }}</a>{% if not loop.last %}, {% endif %}
                    {% endfor %}
                    {{ 'am'|_ }} <a href="{{ post.url }}">{{ post.published_at|date('M d, Y') }}</a>
                </div>
            </div>
        </div>
    {% else %}
         <div class="col-xs-12">
            {{ noPostsMessage }}
        </div>
    {% endfor %}
 </div>
 
{% if posts.lastPage > 1 %}
    <div class="col-xs-12">
        <ul class="pagination">
            {% if posts.currentPage > 1 %}
                <li><a href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage-1) }) }}">&larr; Prev</a></li>
            {% endif %}
    
            {% for page in 1..posts.lastPage %}
                <li class="{{ posts.currentPage == page ? 'active' : null }}">
                    <a href="{{ this.page.baseFileName|page({ (pageParam): page }) }}">{{ page }}</a>
                </li>
            {% endfor %}
    
            {% if posts.lastPage > posts.currentPage %}
                <li><a href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage+1) }) }}">Next &rarr;</a></li>
            {% endif %}
        </ul>
    </div>
{% endif %}