==
<div class="media network_media">
  <div class="media-left media-middle">
    <a href="http://www.ceyhunguney.com/">
      <img class="media-object img-fluid center-block" src="{{ 'assets/images/network/ceyhun.jpg' | theme }}" alt="Ceyhun Güney">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">Ceyhun Güney</h4>
    <p>
        {{'Freiberuflicher Designer und Illustrator'|_}}<br>
        <a href="http://www.ceyhunguney.com/" target="_blank">www.ceyhunguney.com</a><br>
        <a href="mailto:mail@ceyhunguney.com">mail@ceyhunguney.com</a><br>
    </p>
    <p>{{'Ceyhun Güney ist ein freiberuflicher Designer und Illustrator, derzeit wohnhaft in Berlin und weltweit tätig. Ceyhun hat bereits mit Adidas, Mercedes Benz, Red Bull, Absolut Vodka, Head und vielen weiteren zusammen gearbeitet. Es macht großen Spaß mit Ceyhun zusammen zu arbeiten.'|_}}</p>
  </div>
</div>