[viewBag]
==
<div class="media network_media hidden-sm-down">
  <div class="media-left media-middle">
    <a href="http://feinfineart.de/">
      <img class="media-object img-fluid center-block" src="{{ 'assets/images/network/feinfineart.svg' | theme }}" alt="feinfineart">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">feinfineart</h4>
    <p>
        {{'Freiberufliche Designerin für print & web'|_}}<br>
        <a href="http://feinfineart.de/" target="_blank">www.feinfineart.de</a><br>
        <a href="mailto:hello@feinfineart.de">hello@feinfineart.de</a><br>
    </p>
    <p>
        {{'Maya Philine Henze steckt hinter feinfineart. Das passt – auch zu ihren Designs mit viel Liebe zum Feinen :)  Mit ihren Ideen bringt sie uns gerne mal zum Schwitzen, denn der Teufel steckt ja bekanntlich im Detail. Aber das lieben wir so an ihrer Arbeit. Es ist immer eine Herausvorderung und dafür stimmt dann aber auch das Resultat.'|_}}
    </p>
  </div>
</div>

<div class="row hidden-md-up text-xs-center">
  <div class="col-xs-12 p-y-1">
    <h4>Mediamor</h4>
    <a href="http://feinfineart.de/">
      <img class="img-fluid center-block" src="{{ 'assets/images/network/feinfineart.svg' | theme }}" alt="feinfineart">
    </a>
  </div>
  <div class="col-xs-12">
    <p>
        {{'Agentur für Werbung und Medien'|_}}<br>
        <a href="http://feinfineart.de/" target="_blank">www.feinfineart.de</a><br>
        <a href="hello@feinfineart.de">hello@feinfineart.de</a><br>
    </p>
    <p>
        {{'Maya Philine Henze steckt hinter feinfineart. Das passt – auch zu ihren Designs mit viel Liebe zum Feinen :)  Mit ihren Ideen bringt sie uns gerne mal zum Schwitzen, denn der Teufel steckt ja bekanntlich im Detail. Aber das lieben wir so an ihrer Arbeit. Es ist immer eine Herausvorderung und dafür stimmt dann aber auch das Resultat.'|_}}
    </p>
  </div>
</div>