[viewBag]
==
<div  itemscope itemtype="http://schema.org/Person" class="network_person">
    <div class="img-hover-wrapper">
        <img itemprop="image" class="img-circle img-thumbnail img-fluid center-block" src="{{ 'assets/images/network/marc.svg' | theme }}" alt="Marc Wensauer">
        <img class="img-circle img-thumbnail img-fluid center-block" src="{{ 'assets/images/network/marc.svg' | theme }}" alt="Marc Wensauer">
    </div>
    <h3 class="p-x-1 p-y-1 text-xs-center">
         <span itemprop="name">Marc Wensauer</span>
         <br>
         <small itemprop="jobTitle" class="lead">{{'M.Sc. Digital Media'|_}}, {{'Entwickler'|_}}</small>
         <br>
         <br>
         <small><a href="mailto:marc@jumplink.me" itemprop="email">marc@jumplink.me</a></small>
    </h3>
</div>