[viewBag]
==
<div itemscope itemtype="http://schema.org/Person" class="network_person">
    <div class="img-hover-wrapper">
        <img itemprop="image" class="img-circle img-thumbnail img-fluid center-block" src="{{ 'assets/images/network/maya.svg' | theme }}" alt="Maya Philine Henze">
        <img class="img-circle img-thumbnail img-fluid center-block" src="{{ 'assets/images/network/maya.svg' | theme }}" alt="Maya Philine Henze">
    </div>
    <h3 class="p-x-1 p-y-1 text-xs-center">
         <span itemprop="name">Maya Philine Henze</span>
         <br>
         <small itemprop="jobTitle" class="lead">{{'Projektleiterin'|_}}, {{'Designerin'|_}}</small>
         <br>
         <br>
         <small><a href="mailto:artwork@jumplink.me" itemprop="email">artwork@jumplink.me</a></small>
    </h3>
</div>