==
<div class="media network_media">
  <div class="media-left media-middle">
    <a href="http://mediamor.de/">
      <img class="media-object img-fluid center-block" src="{{ 'assets/images/network/mediamor.svg' | theme }}" alt="Mediamor">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">Mediamor</h4>
    <p>
        {{'Agentur für Werbung und Medien'|_}}<br>
        <a href="http://mediamor.de/" target="_blank">www.mediamor.de</a><br>
        <a href="mailto:agentur@mediamor.de">agentur@mediamor.de</a><br>
    </p>
    <p>
        {{'Mit Mediamor werkeln und grübeln wir gemeinsam an den unterschiedlichsten Projekten. Ihre jahrelange Erfahrung im Bereich Werbung und Medien macht Mediamor zu einem einzigartigen Grübelpartner, dabei entstehen kreative Projekte, selbst beim Kaffee kochen.'|_}}
    </p>
  </div>
</div>