==
<div class="network_person">
    <div class="img-hover-wrapper">
        <img class="img-circle img-thumbnail img-fluid center-block" src="{{ 'assets/images/network/pascal.jpg' | theme }}">
        <img class="img-circle img-thumbnail img-fluid center-block" src="{{ 'assets/images/network/pascal_hover.jpg' | theme }}">
    </div>
    <h3 class="p-x-1 p-y-1 text-xs-center">
         Pascal Garber
         <br><small class="lead">{{'Gründer'|_}}, {{'Entwickler'|_}}, {{'Designer'|_}}</small>
    </h3>
</div>