==
<div class="row" class="network_person">
  <div class="col-xs-12">
    <div class="card">
      <img class="card-img-top center-block img-fluid img-thumbnail" src="{{ 'assets/images/network/person.png' | theme }}" alt="seo">
      <div class="card-block">
        <h4 class="card-title">{{'Moritz Raguschat'|_}}<br>
            <small>{{'Dipl.-Mathematiker'|_}}</small>
        </h4>
        <p class="card-text">{% content 'network/person4.md' %}</p>
      </div>
    </div>
  </div>
</div>