[viewBag]
==
<div class="network_person">
    <div class="img-hover-wrapper">
        <img class="img-circle img-thumbnail img-fluid center-block bg-primary" src="{{ 'assets/images/network/wall.jpg' | theme }}">
        <img class="img-circle img-thumbnail img-fluid center-block bg-primary" src="{{ 'assets/images/network/wall.jpg' | theme }}">
    </div>
    <h3 class="p-x-1 p-y-1 text-xs-center">
         {{'Du?'|_}}
         <br><small class="lead">{{'Als Praktikant, Partner oder Anstellung'|_}}</small>
    </h3>
</div>