description = "Default layout"

[localePicker]
forceUrl = 0

[googleTracker]

[SeoCmsPage]

[session]
security = "all"
==
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        
        {% component 'SeoCmsPage' %}
        
        <meta property="og:type" content="website" />
                
        <meta name="author" content="Pascal Garber">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="google-site-verification" content="DfwcM1G3k1VFSP0D01qzJVmDWXU8SXAOZb9tUncNUKY" />
        
        {% partial 'favicon' %}
        
        <link rel="alternate" type="application/rss+xml" title="JumpLink Blog" href="{{ 'blog/rss' | page }}">
        
        <meta name="theme-color" content="#1E88E5">
        {% styles %}
        <link href="{{ [
            'assets/scss/theme.scss',
            'assets/vendor/prism/themes/prism-okaidia.css'
        ] | theme }}" rel="stylesheet">
        
        {% component 'googleTracker' %}
        
        {% partial 'facebook-pixel' %}
        
    </head>
    <body id="{{ str_studly(this.page.title) }}" data-spy="scroll" data-target=".navbar-scrollspy">
        
        {# Content #}
        <section id="layout-content">
            {% page %}
        </section>
        
        {# Theme variables #}
        <script>
            window.theme = {
                siteName: "{{ this.theme.site_name }}",
                companyName: "{{ this.theme.company_name }}",
                phoneNumber: "{{ this.theme.phone_number }}",
                emailAddress: "{{ this.theme.email_address }}",
                locationEnabled: "{{ this.theme.location_enabled }}",
                locationName: "{{ this.theme.location_name }}",
                locationAddressLine1: "{{ this.theme.location_address_line_1 }}",
                locationAddressLine2: "{{ this.theme.location_address_line_2 }}",
                locationMapboxAccessToken: "{{ this.theme.location_mapbox_accessToken }}",
                locationMapboxId: "{{ this.theme.location_mapbox_id }}",
                locationMaxZoom: Number("{{ this.theme.location_max_zoom }}"),
                locationLongitude: Number("{{ this.theme.location_longitude }}"),
                locationLatitude: Number("{{ this.theme.location_latitude }}"),
                locationZoom: Number("{{ this.theme.location_zoom }}"),
                locationLink: "{{ this.theme.location_navigation_link }}",
            };
        </script>

        {# Scripts #}
        <script src="{{ [
            'assets/vendor/within-viewport/withinviewport.js',
            'assets/vendor/jquery/dist/jquery.js',
            'assets/vendor/within-viewport/jquery.withinviewport.js',
            'assets/vendor/jquery-ui/jquery-ui.js',
            'assets/vendor/imagesloaded/imagesloaded.pkgd.js',
            'assets/vendor/masonry/dist/masonry.pkgd.js',
            'assets/vendor/tether/dist/js/tether.js',
            'assets/vendor/bootstrap/dist/js/bootstrap.js',
            'assets/vendor/simpler-sidebar/dist/jquery.simpler-sidebar.js',
            'assets/vendor/bootstrap-validator/dist/validator.js',
            'assets/vendor/leaflet/dist/leaflet.js',
            'assets/vendor/slick-carousel/slick/slick.js',
            'assets/vendor/particles.js/particles.js',
            'assets/vendor/flat-surface-shader/deploy/fss.min.js',
            'assets/vendor/prism/prism.js',
            'assets/javascript/s-chat-support.js',
            'assets/javascript/affix.js',
            'assets/javascript/app.js',
        ]|theme }}"></script>
        {% framework extras %}
        {# More theme variables #}
        <script>
            L.Icon.Default.imagePath = "/themes/{{this.theme.dirname}}/assets/vendor/leaflet/dist/images/";
        </script>
        {% scripts %}
        
    </body>
</html>