description = "Default layout"

[localePicker]
forceUrl = 0

[googleTracker]

[SeoCmsPage]
==
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        
        {% component 'SeoCmsPage' %}
        
        <meta property="og:type" content="website" />
                
        <meta name="author" content="Pascal Garber">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="google-site-verification" content="DfwcM1G3k1VFSP0D01qzJVmDWXU8SXAOZb9tUncNUKY" />
        
        <link rel="apple-touch-icon" sizes="57x57" href="{{'/assets/favicons/apple-touch-icon-57x57.png' | theme }}">
        <link rel="apple-touch-icon" sizes="60x60" href="{{'/assets/favicons/apple-touch-icon-60x60.png' | theme }}">
        <link rel="apple-touch-icon" sizes="72x72" href="{{'/assets/favicons/apple-touch-icon-72x72.png' | theme }}">
        <link rel="apple-touch-icon" sizes="76x76" href="{{'/assets/favicons/apple-touch-icon-76x76.png' | theme }}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{'/assets/favicons/apple-touch-icon-114x114.png' | theme }}">
        <link rel="apple-touch-icon" sizes="120x120" href="{{'/assets/favicons/apple-touch-icon-120x120.png' | theme }}">
        <link rel="apple-touch-icon" sizes="144x144" href="{{'/assets/favicons/apple-touch-icon-144x144.png' | theme }}">
        <link rel="apple-touch-icon" sizes="152x152" href="{{'/assets/favicons/apple-touch-icon-152x152.png' | theme }}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{'/assets/favicons/apple-touch-icon-180x180.png' | theme }}">
        <link rel="icon" type="image/png" href="{{'/assets/favicons/favicon-32x32.png" sizes="32x32' | theme }}">
        <link rel="icon" type="image/png" href="{{'/assets/favicons/android-chrome-192x192.png' | theme }}" sizes="192x192">
        <link rel="icon" type="image/png" href="{{'/assets/favicons/favicon-96x96.png' | theme }}" sizes="96x96">
        <link rel="icon" type="image/png" href="{{'/assets/favicons/favicon-16x16.png' | theme }}" sizes="16x16">
        <link rel="manifest" href="{{'/assets/favicons/manifest.json' | theme }}">
        <link rel="mask-icon" href="{{'/assets/favicons/safari-pinned-tab.svg' | theme }}" color="#1e88e5">
        <link rel="shortcut icon" href="{{'/assets/favicons/favicon.ico' | theme }}">
        <meta name="apple-mobile-web-app-title" content="JumpLink">
        <meta name="application-name" content="JumpLink">
        <meta name="msapplication-TileColor" content="#1e88e5">
        <meta name="msapplication-TileImage" content="{{'/assets/favicons/mstile-144x144.png' | theme }}">
        <meta name="msapplication-config" content="{{'/assets/favicons/browserconfig.xml' | theme }}">
        
        <link rel="alternate" type="application/rss+xml" title="JumpLink Blogfeed" href="{{ 'blog/rss' | page }}">
        
        <meta name="theme-color" content="#1E88E5">
        {% styles %}
        <link href="{{ [
            'assets/css/theme.css',
        ]|theme }}" rel="stylesheet">
        
        {% component 'googleTracker' %}
        
    </head>
    <body id="{{ str_studly(this.page.title) }}" data-spy="scroll" data-target=".navbar-scrollspy">
        
        {# Content #}
        <section id="layout-content">
            {% page %}
        </section>
        
        {# Theme variables #}
        <script>
            window.theme = {
                siteName: "{{ this.theme.site_name }}",
                companyName: "{{ this.theme.company_name }}",
                phoneNumber: "{{ this.theme.phone_number }}",
                emailAddress: "{{ this.theme.email_address }}",
                locationEnabled: "{{ this.theme.location_enabled }}",
                locationName: "{{ this.theme.location_name }}",
                locationAddressLine1: "{{ this.theme.location_address_line_1 }}",
                locationAddressLine2: "{{ this.theme.location_address_line_2 }}",
                locationMapboxAccessToken: "{{ this.theme.location_mapbox_accessToken }}",
                locationMapboxId: "{{ this.theme.location_mapbox_id }}",
                locationMaxZoom: Number("{{ this.theme.location_max_zoom }}"),
                locationLongitude: Number("{{ this.theme.location_longitude }}"),
                locationLatitude: Number("{{ this.theme.location_latitude }}"),
                locationZoom: Number("{{ this.theme.location_zoom }}"),
                locationLink: "{{ this.theme.location_navigation_link }}",
            };
        </script>

        {# Scripts #}
        <script src="{{ [
            'assets/vendor/within-viewport/withinviewport.js',
            'assets/vendor/jquery/dist/jquery.js',
            'assets/vendor/within-viewport/jquery.withinviewport.js',
            'assets/vendor/jquery-ui/jquery-ui.js',
            'assets/vendor/tether/dist/js/tether.js',
            'assets/vendor/bootstrap/dist/js/bootstrap.js',
            'assets/vendor/simpler-sidebar/dist/jquery.simpler-sidebar.js',
            'assets/vendor/bootstrap-validator/dist/validator.js',
            'assets/vendor/leaflet/dist/leaflet.js',
            'assets/vendor/slick-carousel/slick/slick.js',
            'assets/vendor/particles.js/particles.js',
            'assets/javascript/affix.js',
            'assets/javascript/app.js',
        ]|theme }}"></script>
        {% framework extras %}
        {# More theme variables #}
        <script>
            L.Icon.Default.imagePath = "/themes/{{this.theme.dirname}}/assets/vendor/leaflet/dist/images/";
        </script>
        {% scripts %}
        
    </body>
</html>