description = "Default layout"

[localePicker]
forceUrl = 0

[googleTracker]

[seoTags]
==
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        
        
        {% component 'seoTags' %}
        
        <meta property="og:type" content="website" />
                
        <meta name="author" content="Pascal Garber">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="google-site-verification" content="DfwcM1G3k1VFSP0D01qzJVmDWXU8SXAOZb9tUncNUKY" />
        
        {% partial 'favicon' %}
        
        <link rel="alternate" type="application/rss+xml" title="JumpLink 💙" href="{{ 'blog/rss' | page }}">
        
        <meta name="theme-color" content="#1E88E5">
        {% styles %}
        <link href="{{ [
            'assets/scss/theme.scss',
            'assets/vendor/prism/themes/prism-okaidia.css'
        ] | theme }}" rel="stylesheet">
        
        {% component 'googleTracker' %}
        
        {#% partial 'facebook-pixel' %#}
        
    </head>
    <body id="{{ str_studly(this.page.title) }}" data-spy="scroll" data-target=".navbar-scrollspy">
    
        {# Facebook button #}
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = 'https://connect.facebook.net/de_DE/sdk.js#xfbml=1&version=v2.11&appId=137159413372827';
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
        
        {# Content #}
        <section id="layout-content">
            {% page %}
        </section>
        
        {# Theme variables #}
        <script>
            window.theme = {
                siteName: "{{ this.theme.site_name }}",
                companyName: "{{ this.theme.company_name }}",
                phoneNumber: "{{ this.theme.phone_number }}",
                emailAddress: "{{ this.theme.email_address }}",
                locationEnabled: "{{ this.theme.location_enabled }}",
                locationName: "{{ this.theme.location_name }}",
                locationAddressLine1: "{{ this.theme.location_address_line_1 }}",
                locationAddressLine2: "{{ this.theme.location_address_line_2 }}",
                locationMapboxAccessToken: "{{ this.theme.location_mapbox_accessToken }}",
                locationMapboxId: "{{ this.theme.location_mapbox_id }}",
                locationMaxZoom: Number("{{ this.theme.location_max_zoom }}"),
                locationLongitude: Number("{{ this.theme.location_longitude }}"),
                locationLatitude: Number("{{ this.theme.location_latitude }}"),
                locationZoom: Number("{{ this.theme.location_zoom }}"),
                locationLink: "{{ this.theme.location_navigation_link }}",
            };
        </script>

        {# Scripts
            'assets/javascript/s-chat-support.js'
        #}
        
        <script> 
            window.intergramId = '-226408651';
            window.intergramCustomizations = {
                titleClosed: 'Live Chat',
                titleOpen: 'Live Chat',
                introMessage: 'Hallo, hier kannst du uns direkt im Chat Fragen stellen, schreib einfach drauf los',
                autoResponse: 'Wir werden über deine Nachricht benachrichtigt, bitte habe ein wenig Geduld bis dir jemand antwortet',
                autoNoResponse: 'Scheinbar ist gerade niemand zu erreichen, du kannst uns stattdessen eine E-Mail schreiben: info@jumplink.me oder deine Kontaktdaten hier hinterlassen, wir werden uns dann bei dir melden',
                mainColor: "#c62828", // Can be any css supported color 'red', 'rgb(255,87,34)', etc
                alwaysUseFloatingButton: true // Use the mobile floating button also on large screens
            };
        </script>
        <script id="intergram" type="text/javascript" src="https://www.intergram.xyz/js/widget.js"></script>
        
        <script src="{{ [
            'assets/vendor/within-viewport/withinviewport.js',
            'assets/vendor/jquery/dist/jquery.js',
            'assets/vendor/within-viewport/jquery.withinviewport.js',
            'assets/vendor/jquery-ui/jquery-ui.js',
            'assets/vendor/imagesloaded/imagesloaded.pkgd.js',
            'assets/vendor/masonry/dist/masonry.pkgd.js',
            'assets/vendor/tether/dist/js/tether.js',
            'assets/vendor/bootstrap/dist/js/bootstrap.js',
            'assets/vendor/simpler-sidebar/dist/jquery.simpler-sidebar.js',
            'assets/vendor/bootstrap-validator/dist/validator.js',
            'assets/vendor/leaflet/dist/leaflet.js',
            'assets/vendor/slick-carousel/slick/slick.js',
            'assets/vendor/particles.js/particles.js',
            'assets/vendor/flat-surface-shader/deploy/fss.min.js',
            'assets/vendor/prism/prism.js',
            'assets/javascript/affix.js',
            'assets/javascript/app.js',
        ]|theme }}"></script>
        {% framework extras %}
        {# More theme variables #}
        <script>
            L.Icon.Default.imagePath = "/themes/{{this.theme.dirname}}/assets/vendor/leaflet/dist/images/";
        </script>
        {% scripts %}
        
    </body>
</html>