[viewBag]
==
<div class="card card-outline-primary">   
  <div class="card-block">
    <img class="card-img-left" src="{{ ('/assets/images/network/' ~ post.user.login ~ '.svg') | theme}}" alt="Card image cap">
    <h4 class="card-title">{{ 'Über den Autor'|_ }}</h4>
    <p class="card-subtitle mb-2">
       {{ post.user.first_name }} {{ post.user.last_name }}
       <br>
       {% partial 'network/'~post.user.login~'-jobtitle' %}
    </p>
    <div class="card-text">
        <p>
            <a href="mailto:{{post.user.email}}">{{post.user.email}}</a>
        </p>
        {% content 'network/' ~ post.user.login ~ '-about.md' %}
    </div>
    
  </div>
</div>