[viewBag]
==
{% set post = __SELF__.post %}

{% if post.featured_images.count %}
    <div class="featured-images text-center center-block">
        {% for image in post.featured_images %}
            <p>
                <img
                    data-src="{{ image.filename }}"
                    src="{{ image.path }}"
                    alt="{{ image.description }}"
                    class="img-fluid"
                    />
            </p>
        {% endfor %}
    </div>
{% endif %}
<div class="markdown content">{{ post.content_html|raw }}</div>

<p class="info">
    {{ 'Erstellt'|_ }}
    {% if post.categories.count %} in
        {% for category in post.categories %}
            <a href="{{ category.url }}">{{ category.name }}</a>{% if not loop.last %}, {% endif %}
        {% endfor %}
    {% endif %}
    {{ 'am'|_ }} {{ post.published_at|date('M d, Y') }}
</p>