==
<div class="row" class="service_backend">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1">
    <div class="hidden-lg-up card">
      <img class="card-img-top center-block img-fluid" src="{{ 'assets/images/services/backend.svg' | theme }}" alt="backend">
      <div class="card-block">
        <h3 class="card-title">{{'Modernes Backend'|_}}</h3>
        <p class="card-text">{% content 'services/backend.md' %}</p>
      </div>
    </div>
    <div class="hidden-md-down media">
      <div class="media-left media-middle">
        <img class="media-object" src="{{ 'assets/images/services/backend.svg' | theme }}" alt="backend">
      </div>
      <div class="media-body media-middle">
        <h3 class="media-heading">{{'Modernes Backend'|_}}</h3>
        <p>{% content 'services/backend.md' %}</p>
      </div>
    </div>
  </div>
  <div class="col-sm-1"></div>
</div>