<div class="media">
  <div class="media-left media-middle">
    <a href="#">
      <img class="media-object bindings-image" src="{{ 'assets/images/services/erp.svg' | theme }} " alt="bindings">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">{{'ERP'|_}} <small>Warenwirtschaft</small></h4>
    <p>{{'Verbessere deine Verkaufsprozesse, schnelle Abwicklung dank Barcodescannern, automatisiere deine Prozesse mit externen Versandhändlern und behalte deinen Warenbestand im Überblick. Wir helfen dir bei einem gut funktionierendem und aufgeräumtem Lager.'|_}}</p>
  </div>
</div>