<div class="media">
  <div class="media-left media-middle">
    <a href="#">
      <img class="media-object bindings-image" src="{{ 'assets/images/services/german_market.svg' | theme }} " alt="bindings">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">{{'Fit für den deutschen Markt'|_}}</h4>
    <p>{{'Wir bereiten deinen Shop für den deutschen Markt vor, dazu gehören z.B. Rechtssicherheit bei Rechtstexten, der Kaufabwicklungen, der Preisdarstellung und Steuerklassen.'|_}}</p>
  </div>
</div>