<div class="row" class="service_maintainable">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1">
    <div class="hidden-lg-up card">
      <img class="card-img-top center-block img-fluid" src="{{ 'assets/images/services/maintainable.svg' | theme }}" alt="maintainable">
      <div class="card-block">
        <h4 class="card-title">{{'Wartbar'|_}}</h4>
        <p class="card-text">{% content 'services/maintainable.md' %}</p>
      </div>
    </div>
    <div class="hidden-md-down media">
      <div class="media-left media-middle">
        <a href="#">
          <img class="media-object bindings-image" src="{{ 'assets/images/services/maintainable.svg' | theme }}" alt="maintainable">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">{{'Wartbar'|_}}</h4>
        <p>{% content 'services/maintainable.md' %}</p>
      </div>
    </div>
  </div>
  <div class="col-sm-1"></div>
</div>