==
<div id="chou-chou-berlin_carousel" class="img-thumbnail z-depth-2">
    {% for i in 1..5 %}
        <a href="https://chou-chou-berlin.myshopify.com/" target="_blank" title="Chou Chou Berlin" class="slick-slide">
          <img src="{{ 'assets/images/credentials/lg/chou-chou-berlin_00' | theme }}{{i}}.png" class="img-fluid center-block hidden-sm-down" alt="Chou Chou Berlin">
          <img src="{{ 'assets/images/credentials/sm/chou-chou-berlin_00' | theme }}{{i}}.png" class="img-fluid center-block hidden-md-up" alt="Chou Chou Berlin">
        </a>
    {% endfor %}
</div>